# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# data
mnist_cnn/data

# vscode
mnist_cnn/.vscode

# cache
__pycache__/

# model 
*.model

*.jpg
*.pdf
*.gif
*.uvf
mnist_cnn/visualize_preprocessing

# make
*_done

# old stuff
mnist_cnn/old

*.pyc
*.vscode

*.eggs
*.egg-info
