# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# data
mnist_cnn/data*
simulations/gaussian_sources
gaussian_sources/data*
*.uvf
simulations/test_data/

# cache
__pycache__/

# model
*.model

# images
*.jpg
*.pdf
*.gif
*.png

# make
*_done
*/build
build/

# old stuff
mnist_cnn/old

*.pyc
*.vscode

*.eggs
*.egg-info

/mnist_cnn/visualize/test_data

.flake8
*.yaml
.makerc
.coverage
