# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# data
*/data*
*.uvf
*.h5
radionets/simulations/test_data
examples/example_data/

#evaluation results
*/results
results/

# cache
__pycache__/

# model
*.model

#slurm
*.slurm
*.log

# images
*.jpg
*.pdf
*.gif
*.png

# make
*_done
*/build


*.pyc
*.vscode
*.eggs
*.egg-info
.flake8
.makerc
.coverage
dist/
radionets/dl_framework/values.yaml
*.csv
